/* declare the main color of the page */
:root{
  --mainBrown:#2d1ef1;
  --mainYellow: #ff9e09;
  --mainWhite: #fff;
  --mainGrey:#ece8dc;
  --mainBlack:#222;
}

/* then asign into the part of the page that you want */
body{
  background:var(--mainWhite);
  color:var(--mainBlack);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow{
  color: var(--mainYellow);
}