.link{
    color: rgb(96, 96, 96);
}

.btnLogin{
    padding: 4px 24px;
}

.jumb{
    background-color: #fff;
}
.title{
    text-align: center;
    font-size: 1.8rem;
    color: rgb(96, 96, 96);
    font-weight: bold;
    margin-top: 0;
    line-height: normal;
    letter-spacing: 2px;
}

.welcome{
    letter-spacing: 2px;
    text-align: center;
    font-size: 3.6rem;
    color: rgb(68, 68, 68);
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
};

.btnCont{
    padding: 0.6rem 5rem;
    font-size: 20px;
};
.btnStart{
    padding: 0.6rem 5rem;
    font-size: 20px;
}